<div id="fire" style="clear:both;">
  <label>Grid style:</label>
  <select id="grid_style" name="grid_style">
    <option value="hex">Hexagonal</option>
    <option value="classic">Classic (4 neighbors)</option>
    <option value="classic8">Classic (8 neighbors)</option>
  </select></br>
  <label>Radius:</label>
  <input id="radius" name="radius" type="number" step="any" min="100" max="5000" value="200" /></br>
  <label>Pixels per particle:</label>
  <input id="ppp" name="ppp" type="number" step="any" min="1" max="9" value="2.5" /></br>
  <label>Sticking probability:</label>
  <input id="stick" name="stick" type="number" step="any" min="0.01" max="1.0" value="1.0" /></br>
  
  <button onclick="startSimulation()">Start Simulation</button>
</div>
<script type="text/javascript" src="js/offlattice.js"></script>

<script>
var simulations = [];  
function sim_stats() {
  return '<div class="result"></div><div class="time"></div><button class="saveSim" id="sim_'+simulations.length+'">Save</button></br>'
}
var HALF_ROOT_THREE = Math.sqrt(3)/2
var total_iters = 0;
var oob = 0;
var oobs = [];
// Must always be an even number, or it will mess up hexagon drawing.
// Should be very close to or less than the minimum drop distance.
var CANVAS_OFFSET = 26; 

function init(options) {
  var that = this;

  var TIME = Math.floor(Math.random()*1530);
  this.COLOR = makeColor(TIME);
  this.RADIUS = options['radius'] ? Math.floor(options['radius']) : 200;
  this.STEP = options['ppp'] ? options['ppp'] : 3;
  this.GRID_STYLE = options['grid'] || 'hex';
  this.CANVAS_HEIGHT = (this.RADIUS-CANVAS_OFFSET)*2*this.STEP;
  this.CANVAS_WIDTH = this.GRID_STYLE=='hex' ? this.CANVAS_HEIGHT*1/HALF_ROOT_THREE : this.CANVAS_HEIGHT;

  this.grid;
  this.edge = 25; 
  this.sticking_prob = options['stick'] || 1.0;

  this.start_time = new Date();
  this.finish_time;
  this.intervalID;
  this.statusString = "start";
  this.canvas;
  this.context;
  this.execute = randomMatch;

  // canvas element and 2D context

  that.canvas = document.createElement('canvas');
  that.canvas.width = that.CANVAS_WIDTH;
  that.canvas.height = that.CANVAS_HEIGHT;
  $(that.canvas).addClass("mycanvas");
  //document.body.appendChild(that.canvas);
  $("#fire").after(that.canvas);
  $(that.canvas).before(sim_stats());
  that.context = that.canvas.getContext('2d');

  that.context.fillStyle="rgb(255,255,255)";
  that.context.fillRect(0,0, that.CANVAS_WIDTH, that.CANVAS_HEIGHT);

  function randomMatch(iters) {
    that.statusString = "working";
    $('.result').first().text("computing");
    worker.postMessage({'cmd': 'grid', 'grid':that.grid, 'radius':that.RADIUS, 'edge':that.edge, 'num':iters, 'sticking_prob':that.sticking_prob, 'grid_style':that.GRID_STYLE});
  }

  var worker = new Worker('js/worker.js');

  function draw_worker_coords(res) {
    that.edge = res.edge;
    total_iters = res.iter;
    that.grid = res.grid; //TODO take this away once the bugs are out
    TIME += 1; that.COLOR = makeColor(TIME);
    res.coords.forEach(function(c, index, array) {draw_point(that, c.x, c.y, true); })
    $('.result').first().text(res.iter+" and coords length: "+res.coords.length);
  }
  worker.addEventListener('message', function(e) {
    var res = e.data;
    if(res.status === 'complete') {
      that.statusString = "complete";
      that.grid = res.grid;
      draw_worker_coords(res);
      that.finish();
    } else {
      draw_worker_coords(res);
    }
  }, false);

  this.reset_grid();
  this.create_nuclei();
} 
init.prototype.finish = function() {
  this.finish_time = new Date();
  var duration = (this.finish_time-this.start_time)/1000.0
  var c= this.context; 
  var fontsize = this.CANVAS_WIDTH/45;
  var count = 1;
  c.fillStyle = '#000';
  c.font      = 'italic '+fontsize+'px sans-serif';
  fontsize +=4;
  c.fillText('duration (sec): '+(duration).toFixed(2),10, fontsize*count);count++;
  c.fillText('grid style: '+this.GRID_STYLE,       10, fontsize*count);count++;
  c.fillText('sticking prob: '+this.sticking_prob, 10, fontsize*count);count++;
  c.fillText('radius: '+this.RADIUS,               10, fontsize*count);count++;
  //c.fillText('ppp: '+this.STEP,                    10, fontsize*count);count++;
  //c.fillText('final edge: '+(this.edge).toFixed(2),10, fontsize*count);count++;
  var occupation = this.grid_occupation()
  count = 1;
  c.fillText('iters: '+total_iters,10, this.CANVAS_HEIGHT-fontsize*count);count++;
  c.fillText('particles: '+occupation.total,10, this.CANVAS_HEIGHT-fontsize*count);count++;
  c.fillText('sites: '+occupation.num,10, this.CANVAS_HEIGHT-fontsize*count);count++;
}
init.prototype.one_step = function(iters) {
  this.execute(iters);
}
init.prototype.create_nuclei = function() {
  var sim = this;
  sim.grid[sim.RADIUS][sim.RADIUS] = 1;
  draw_point(this, sim.RADIUS, sim.RADIUS);
}
init.prototype.save = function() {
  window.open( this.canvas.toDataURL('image/png'), 'mywindow' );
}
init.prototype.reset_grid = function() {
  var sim = this;
  sim.grid = []
  for(var i=0; i < sim.RADIUS*2; i++) {
    sim.grid[i] = [];
    for(var j=0; j < sim.RADIUS*2; j++) {
      sim.grid[i][j] = 0;
    }  
  }
}
init.prototype.clear = function() {
  var sim = this;
  sim.edge = 25;
  sim.reset_grid();
  sim.create_nuclei(); 
  sim.context.fillStyle="rgb(255,255,255)";
  sim.context.fillRect(0,0, sim.CANVAS_WIDTH, sim.CANVAS_HEIGHT);
}

init.prototype.draw_circle = function(r) {
  for(var i=0; i<r*8; i++) {c = random_from_polar(r, this.RADIUS); draw_point(this, c.x, c.y, true)}
}
init.prototype.grid_occupation = function() {
  var numbers = [];
  var totals = []
  for(var i=0; i< this.RADIUS*2; i++) {
    for(var j=0; j < this.RADIUS*2; j++) {
      var r = this.grid[i][j];
      if(r) {
        totals[r] = totals[r] || 0;
        totals[r] += r;
        numbers[r] = numbers[r] || 0;
        numbers[r]+=1;
      }
    }
  }
  var tot =_.reduce(totals, function(memo, num){ return memo + num; }, 0);
  var num =_.reduce(numbers, function(memo, num){ return memo + num; }, 0);
  return {'total':tot, 'num':num, 'totals':totals, 'numbers':numbers};
}
init.prototype.mass_at_radius = function(r) {
  var sim = this;
  var num = 0;
  r = Math.floor(r);
  for(var i=-r; i<r; i++) {
    for(var j=-r; j < r; j++) {
      if(i*i+j*j <= r*r) { 
        num += sim.grid[i+sim.RADIUS][j+sim.RADIUS];
      } 
    }
  }
  return num
}
init.prototype.dimension = function() {
  var masses = []
  for(var i=1; i< this.RADIUS/2; i++) {
    var m = this.mass_at_radius(i);
    console.log(i+" "+m);
    masses.push(m);
  }
  return masses;
}
function make_hex_vert(sim, x, y, rad) {
  var r = sim.STEP/1.5;
  var h=HALF_ROOT_THREE*r;
  var c = sim.context;
  if(x%2==1) {
    var x = (x+x/2)*r+r;
    var y = y*2*h+2*h;
  } else {
    var x = (x/2)*3*r+r;
    var y = (2*y-1)*h+2*h;
  }
  c.fillStyle = sim.COLOR;
  c.beginPath();
  
  c.moveTo(x-r/2, y+h);
  c.lineTo(x+r/2, y+h);
  c.lineTo(x+r,   y+0);
  c.lineTo(x+r/2, y-h);
  c.lineTo(x-r/2, y-h);
  c.lineTo(x-r,   y+0);
  c.lineTo(x-r/2, y+h);
  
  c.closePath();
  c.fill();
}
function make_hex(sim, x, y) {
  var r = sim.STEP/1.5;
  var h=HALF_ROOT_THREE*r;
  var c = sim.context;
  x = x-CANVAS_OFFSET;
  y = y-CANVAS_OFFSET;
  if(y%2==0) {
    var y = (2*y-y/2-1)*r+2*r;
    var x = (2*x-1)*h+2*h;
  } else {
    var y = (y+y/2)*r+r
    var x = x*2*h+2*h;
  }
  c.fillStyle = sim.COLOR;
  c.beginPath();
  c.moveTo(x+0,  y-r);
  c.lineTo(x+h,  y-r/2);
  c.lineTo(x+h,  y+r/2);
  c.lineTo(x-0,  y+r  );
  c.lineTo(x-h,  y+r/2);
  c.lineTo(x-h,  y-r/2);
  c.lineTo(x+0,  y-r  );
  c.closePath();
  c.fill();
}

function draw_point(sim,x,y,exception) {
  if(sim.grid[x][y]==1 || exception) {
    if(sim.GRID_STYLE === 'hex') {
      make_hex(sim, x, y);
    } else {
      var c = sim.context;
      c.fillStyle = sim.COLOR;
      c.beginPath();
      c.rect((x-CANVAS_OFFSET)*sim.STEP, (y-CANVAS_OFFSET)*sim.STEP, sim.STEP, sim.STEP)
      c.closePath();
      c.fill();
    }
  }
}
function draw_hex_neighbors(sim, x, y, t) {
  var neigh_coords = get_hex_neighbors(x, y);
  for(var i=0; i < neigh_coords.length; i++) {
    draw_point(sim, neigh_coords[i][0],neigh_coords[i][1], t)
  }
}
function get_hex_neighbors(x, y) {
  neigh = []
  neigh.push([x-1,y])
  neigh.push([x+1,y])
  neigh.push([x,y-1])
  neigh.push([x,y+1])
  if(x%2==0) {
    neigh.push([x+1, y-1])
    neigh.push([x-1, y-1])
  } else {
    neigh.push([x-1, y+1])
    neigh.push([x+1, y+1])
  }
  return neigh;
}
function clear_point(x,y) {
  var c = sim.context;
  c.fillStyle = '#fff'; 
  c.beginPath();
  c.rect(x*sim.STEP, y*sim.STEP, sim.STEP, sim.STEP)
  c.closePath();
  c.fill();
}

// Do Awesome Things With Colors!
function makeColor(index) {
  index = index || Math.floor(Math.random()*1530);
  function color(i) {
    // Wrap around using modulus 
    i = i % 1530;

    // Calculate the value
    var v;
    if(i < 255)       v = i;
    else if(i < 765)  v = 255;
    else if(i < 1020) v = 255 - (i - 765);
    else              v = 0;

    // Make it a zero-padded value
    v = v.toString(16);
    if(v.length == 1) return "0" + v;
    else              return v;
  }
  function red(i)   { return color(i + 510); }
  function green(i) { return color(i);        }
  function blue(i)  { return color(i + 1020);  }

  return "#" + red(index) + green(index) + blue(index);
}
function startSimulation(options) {
  if(simulations.length == 0 || simulations[simulations.length-1].statusString === 'complete') {
    if(options) {
      total_iters = 0;
      options = options || {};
      var sim = new init(options)
      simulations.push(sim);
      sim.execute();
      return sim;
    } else {
      get_options_from_form();
    }
  } else {
    console.log("simulation in progress");
  }
}
function get_options_from_form() {
  var res = {};
  if(document.getElementById("radius").checkValidity()) {res['radius'] = document.getElementById("radius").value;}
  if(document.getElementById("stick").checkValidity())  {res['stick'] = document.getElementById("stick").value;}
  if(document.getElementById("ppp").checkValidity())    {res['ppp'] =   document.getElementById("ppp").value;}
  res['grid'] = $("#grid_style :selected").val();
  console.log(res);
  startSimulation(res)
}
$(".saveSim").live("click", function() {
  var id = $(".saveSim").index(this);
  simulations[simulations.length-1-id].save(); 
});
function random_from_polar(r, RADIUS) {
  var angle = Math.random()*2*Math.PI;
  var x = Math.floor(r*Math.cos(angle))+RADIUS;
  var y = Math.floor(r*Math.sin(angle))+RADIUS;
  return {'x':x, 'y':y};
}
function clear_circle(radius) {
  for(var i=0; i<radius*8; i++) {c = random_from_polar(radius, RADIUS); clear_point(c.x, c.y)}
}
var options = function () {
  console.log("Use the command startSimulation(options). Where options are of the form: ");
  console.log("{'radius':350, 'sticking_prob':0.1, 'iters':75, 'ppp':4}");
  console.log("\n");
  console.log("The available parameters and their (defaults) and [range]");
  console.log("radius           (400) [4..]: half the width of the grid. I have not tested a radius larger that 800");
  console.log("sticking_prob    (1.0) [0.01..1]: The probability that a particle will stick.");
  console.log("iters (75) [5..]: The number of particles that get created on the web worker at each call. I have not tested a value larger than 10000");
  console.log("ppp                (1) [1..10]: The number of pixels for one particle width, pixels per particle. This just makes the image larger.");
  console.log("grid               ('classic') ['classic', 'classic8', 'hex', 'nogrid']: The style of discretization. This impacts the number of available neighbors");
}
</script>
