<html>
  <head>
    <script type="text/javascript" src="js/jquery-1.6.4.min.js"></script>
    <link href="application.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
