<div id="fire" style="clear:both;">
  <button onclick="addParticle()">Add 1 Particle</button>
  <button onclick="addTenParticle()">Add 10 Particles</button>
  <button onclick="walk_one()">Fast Predictive Walk</button>
  <button onclick="walk_one_with_interval()">Visible Walk</button>
  <button onclick="walk_fast()">Fast Walk</button>
</div>
<script type="text/javascript" src="js/tree.js"></script>
<script type="text/javascript" src="js/makeColor.js"></script>
<script type="text/javascript" src="js/raphael-min.js"></script>

<script>
  var ppp = 9;
  var PARTICLE_RADIUS = 0.5;
  var PARTICLE_DIAMETER = 1.0;
  var DIAMETER_SQUARED = 1.0; //4*PARTICLE_RADIUS*PARTICLE_RADIUS;
  var RADIUS = 55;
  var CANVAS_WIDTH = RADIUS*2*ppp;
  var CANVAS_HEIGHT = RADIUS*2*ppp;
  var trunk;
  var particles = {};
  var canvas;
  var paper;
  var background;
  var TIME = Math.floor(Math.random()*1530);
  var intervalID;
  var UNIQUE_ID = 0;
  var drop_radius = 10; //*PARTICLE_DIAMETER
  var max_dist = 0;

  $(function() {
    paper = Raphael(0, 50, CANVAS_WIDTH, CANVAS_HEIGHT);
    clear();
    trunk = new QuadTree(null, 0, 2*RADIUS, 0, 2*RADIUS);
  });

  function walk_fast() {
    var p = new Particle();
    console.log('new', p);
    while(!p.has_neighbors(trunk)) {
      p = p.walk(RADIUS);
      if(!p) {
        p = new Particle()
        console.log("out of bounds", p);
      }
    }
    addParticle(p.x, p.y);
  }
  function random_angle(p) {
    p.angle = Math.random()*2*Math.PI;
    return p;
  }
  function draw_line(p, step) { 
    step = step || 40;
    var dx = step*Math.cos(p.angle)
    var dy = step*Math.sin(p.angle);
    var x = p.x, y = p.y, 
        x2 = p.x+dx, y2 = p.y+dy; 
    paper.path("M"+x+" "+y+" L"+x2+" "+y2)
    .mouseover(function() {
      console.log(dy/dx, dx, dy);
    })
  }
  function walk_one() {
    var p = new Particle();
    while(p.has_neighbors(trunk)) { p = new Particle(); console.log("on top");}
    var c = paper.circle(p.x*ppp, p.y*ppp, PARTICLE_RADIUS*ppp)
    var stat = 'walk'; 
    while(stat === 'walk' && drop_radius < RADIUS) {
      var res = p.vector_walk(PARTICLE_DIAMETER, 2*RADIUS, trunk);
      p = res.p;
      stat = res.stat;
     
      switch(stat) {
        case 'neighbor': {if(res.dist > max_dist) {max_dist=res.dist; drop_radius = max_dist+20; console.log(drop_radius);}; addParticle(p.x, p.y);}; break;
        case 'destroy' : p = new Particle(); stat = 'walk'; break;
        default: break;
      }
    }
  }
  function walk_one_with_interval() {
    var p = new Particle();
    while(p.has_neighbors(trunk)) { p = new Particle(); console.log("on top");}
    var c = paper.circle(p.x*ppp, p.y*ppp, PARTICLE_RADIUS*ppp)
    var stat = 'walk'; 
    setInterval(function() {
      if(stat === 'walk' && drop_radius < RADIUS) {
        var res = p.vector_walk(4*PARTICLE_DIAMETER, CANVAS_WIDTH, trunk);
        p = res.p;
        stat = res.stat;
        //var anim = Raphael.animation({cx: p.x, cy: p.y}, 2e3);
        //c.animate(anim); //
        c.attr({'cx':p.x*ppp, 'cy':p.y*ppp});
       
        switch(stat) {
          case 'neighbor': if(!!p.x && !!p.y) {if(res.dist > max_dist) {max_dist=res.dist; drop_radius = max_dist+10*PARTICLE_RADIUS; console.log(drop_radius);}; addParticle(p.x, p.y);}; break;
          case 'destroy' : p = new Particle(); stat = 'walk'; break;
          default: break;
        }
      }
    }, 1000/15);
  }
  function clear() {
    paper.clear()
    background = paper.rect(0,0,CANVAS_WIDTH, CANVAS_HEIGHT)
    background.attr({'fill':'#fff'}).mouseup(function(e) {
      addParticle(e.offsetX/ppp, e.offsetY/ppp)
    });
    paper.circle(CANVAS_WIDTH/2, CANVAS_WIDTH/2, drop_radius*ppp)
    paper.circle(CANVAS_WIDTH/2, CANVAS_WIDTH/2, drop_radius*ppp+20*ppp)
  }
  function addParticle(x, y) {
    var p = new Particle(x, y)
    UNIQUE_ID++;
    p.id = UNIQUE_ID;
    particles[p.id] = p;
    trunk.Insert(p);
    draw_tree();
  }
  function addTenParticle() {
    for(var i=0; i < 10; i++) {
      addParticle();
    }
  }
  function draw_ball(ball, branch) {
    var circle = paper.circle(ball.x*ppp, ball.y*ppp, PARTICLE_RADIUS*ppp);
    var neighbors = trunk.LeafLevelNeighbors(ball);
    circle.attr({'fill': branch.color})
    .data({'id':ball.id, 'branch':neighbors})
    .mouseover(function() {
      for(var i=0; i < neighbors.length; i++) {
        neighbors[i].rect.attr({'fill':'#A9AAAC'});
      }
    }).mouseout(function() {
      for(var i=0; i < neighbors.length; i++) {
        neighbors[i].rect.attr({'fill':''});
      }
    }); 
  }
  function draw_tree() {
    clear();
    find_branches(trunk);
  }
  function find_branches(b) {
    if(!b.IsLeaf()) {
      delete b['rect'];
      find_branches(b.nw);
      find_branches(b.sw);
      find_branches(b.ne);
      find_branches(b.se);
    } else {
      draw_branch(b);
      for(var i=0; i < b.items.length; i++) {
        draw_ball(b.items[i], b);
      }
    } 
  }
  function draw_branch(b) {
    if(!b.color) {
      b.color = makeColor();
    }
    b.rect = paper.rect(ppp*b.x_min, ppp*b.y_min, ppp*(b.x_max-b.x_min), ppp*(b.y_max-b.y_min)); 
  }

</script>
